$primary: #eb625b;
$secondary: #5b69eb;
$black: #000;
$black-2: #363636;
$black-3: #505050;
$white: #fff;
$blue: #21c7fb;
$yellow: #fff0db;
$green: #63d72d;
$orange: #fe891e;

$font-primary: "Poppins", sans-serif;
$font-secondary: "Roboto", sans-serif;
