.intro {
  padding: 38px 0;
  height: calc(100vh - 72px);
  height: calc(100dvh - 72px);
  min-height: 750px;
  display: flex;
  flex-direction: column;
  &__inner {
    display: flex;
    gap: 40px;
    flex: 1;
    &-column {
      width: calc(50% - 20px);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 40px;
      position: relative;
    }
    &-info {
      font-size: 48px;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      gap: 32px;
      line-height: 1.2em;
      strong {
        font-weight: 700;
        display: block;
      }
    }
    &-image {
      position: absolute;
      left: calc(100% + 40px);
      top: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      .ratioImage {
        padding-bottom: unset;
        width: 100%;
        height: 100%;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &-footer {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }
    &-group {
      display: flex;
      flex-direction: column;
      gap: 10px;
      a {
        font-size: 14px;
        line-height: 1.2em;
        font-family: $font-secondary;
        @include transition;
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
  .autoContainer {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  &._popUp {
  }
}
.hero {
  position: relative;
  height: calc(100vh - 72px);
  height: calc(100dvh - 72px);
  padding: 60px 0 80px 0;
  display: flex;
  flex-direction: column;
  &__inner {
    display: flex;
    flex-direction: column;
    gap: 40px;
    flex: 1;
    &-container {
      display: none;
      flex-direction: column;
      gap: 40px;
      max-width: 650px;
      margin: auto;
      text-align: center;
      &.active {
        display: flex;
        animation-name: fadeIn;
        animation-duration: 0.3s;
      }
    }
  }
  &__tab {
    display: flex;
    gap: 16px;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    &-button {
      flex: 1;
      font-size: 16px;
      color: $white;
      padding: 1em 1em 1.3em 1em;
      position: relative;
      font-weight: 400;
      font-family: $font-secondary;
      &::after {
        content: "";
        width: 100%;
        height: 4px;
        background: $white;
        position: absolute;
        left: 0;
        bottom: 0;
        opacity: 0.2;
        @include transition;
      }
      &.active {
        &::after {
          opacity: 1;
        }
      }
    }
  }
  h1 {
    color: $white;
  }
  .button {
    padding: 0.95em 1.45em;
    transition: 0.2s ease;
    &--text {
      &:hover {
        color: $white;
        background: rgba($black, 0.5);
      }
    }

    &__group {
      gap: 16px;
      justify-content: center;
    }
  }
  &__bg {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0.3;
    }
    &::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: $black-3;
    }
  }
  .autoContainer {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}
.explore {
  padding: 110px 0;
  &__inner {
    display: flex;
    flex-direction: column;
    gap: 70px;
    &-row {
      display: flex;
      gap: 24px;
    }
  }
  &__item {
    width: calc(25% - 18px);
    max-width: 304px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    text-align: center;
    .ratioImage {
      padding-bottom: 53%;
    }
    h5 {
      line-height: 1.4em;
    }
  }
}
.about {
  padding: 30px 0 70px 0;
  &__inner {
    display: flex;
    flex-direction: column;
    gap: 2em;
    h2 {
      margin-bottom: 1em;
    }
  }
}
.employment {
  padding: 104px 0 40px;
  &__inner {
    display: flex;
    flex-direction: column;
    padding-bottom: 80px;
    &-row {
      display: flex;
      align-items: center;
      gap: 30px;
      justify-content: space-between;
      h2 {
        width: calc(50% - 15px);
        max-width: 616px;
      }
      p {
        width: calc(50% - 15px);
        max-width: 616px;
      }
    }
  }
  &__footer {
    .ratioImage {
      padding-bottom: 18.5%;
    }
  }
}
.service {
  padding-bottom: 60px;
  &__inner {
    display: flex;
    flex-direction: column;
    gap: 80px;
    &-container {
      border: 1px solid $black;
      border-left: unset;
      border-right: unset;
      display: flex;
    }
  }
  &__item {
    display: flex;
    &-button {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      padding: 32px 24px;
      border: 1px solid $black;
      border-top: unset;
      border-bottom: unset;
      @include transition;
      cursor: pointer;
      strong {
        font-size: 24px;
        &._rotate {
          writing-mode: vertical-rl;
          transform: rotate(180deg);
        }
      }
    }
    &-content {
      flex-direction: column;
      gap: 48px;
      transition: 0.3s ease-in-out;
      display: none;
      padding: 64px 48px;
    }
    &-box {
      display: flex;
      flex-direction: column;
      gap: 24px;
      max-width: 670px;
      p {
        font-size: 16px;
      }
    }
    &-image {
      width: 100%;
      max-width: 544px;
      .ratioImage {
        padding-bottom: 74%;
      }
    }
    &.active {
      order: -1;
      animation-name: fadeIn;
      animation-duration: 1s;
      .service {
        &__item {
          &-content {
            display: flex;
          }
          &-button {
            border-right: unset;
          }
        }
      }
    }
  }
}

@mixin index-1280 {
  .intro {
  }
}
@mixin index-1160 {
}
@mixin index-1025 {
}
@mixin index-940 {
}
@mixin index-860 {
  .intro {
    padding: 30px 0;
    height: auto;
    &__inner {
      &-column {
        width: 100%;
      }
      &-image {
        position: unset;
        max-width: 700px;
        margin: 0 auto;
        .ratioImage {
          padding-bottom: 120%;
        }
      }
      &-info {
        font-size: 40px;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        strong {
          width: calc(50% - 10px);
        }
      }
    }
    ._hideMob {
      display: none;
    }
  }
}
@mixin index-768 {
  .intro {
    &__inner {
      &-info {
        font-size: 35px;
        gap: 20px;
      }
    }
  }
}
@mixin index-580 {
  .intro {
    &__inner {
      &-info {
        font-size: 35px;
        gap: 20px;
        flex-direction: column;
        strong {
          width: 100%;
        }
      }
    }
  }
}
