.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  .checkbox {
    &__outer {
      label {
        font-family: $font-secondary;
        font-size: 14px;
        a {
          font-family: inherit;
        }
      }
    }
  }
  .button {
    margin-right: auto;
    padding: 0.9em 1.34em;
  }
}
